# Arquivos de ambiente virtual
venv/
/venv/

# Banco de dados
*.sqlite3
db.sqlite3

# Arquivos compilados do Python
__pycache__/
*.pyc

# Arquivos de configurações de IDEs
.vscode/
.idea/

# Arquivos de dependências 
.env

# Documentação local
Doc/